<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" href="stylesheets/login.css">
    <script src="javascripts/jquery-1.11.3.js"></script>
    <script src="javascripts/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div class="head">
            <div class="nav">
                <li class="left-nav">欢迎光临悦书城</li>
                <li class="right-nav">回到<a href="/">首页</a></li>
            </div>
        </div>
        <div class="content">
            <h1>悦书城用户登录</h1>
            <div class="box">
                <div class="login-box">
                    <form class="form-horizontal">
                        <div class="form-group" style="margin-bottom:60px; ">
                            <label for="inputEmail3" class="col-sm-3 control-label">邮箱:</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control email" id="inputEmail" placeholder="请输入邮箱...">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:80px; ">
                            <label for="inputPassword3" class="col-sm-3 control-label">密码:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control pwd" id="inputPassword" placeholder="请输入密码...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" col-md-offset-2 col-md-4">
                                <button type="button" class="btn btn-primary btn-lg" id="login-btn">登录</button>
                            </div>
                            <div class=" col-md-offset-2 col-md-4">
                                <button class="btn btn-primary btn-lg register-btn "> <a href="toregister" style="color:white;text-decoration: none">注册</a></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#login-btn').click(function () {
                var email = $('#inputEmail').val();
                var password = $('#inputPassword').val();
                
                if(email ==''|| password==''){
                    alert('用户名和密码均不能为空!')
                }
                
                if (email != '' && password != '') {
                    var data = {
                        'email': email,
                        'password': password
                    }
                    $.ajax({
                        url: '/user/login',
                        type: 'post',
                        data: data,
                        success: function (data, status) {
                            if (data.msg == 'login success!') {
                                location.href = '/'
                            }else{
                                location.href='tologin',
                                alert('用户名或密码错误！请检查！')
                            }
                        }
                    })
                }
            });
        })
    </script>
</body>

</html>